/* -------------------------------------------------------------------------- */
/* -----| GENERAL |---------------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#galleryWrapper {
    margin: 20px auto;
    padding: 0;
}

#galleryListWrapper {
    /* NULL */
}

#galleryFooter {
    padding: 0 !important;
    color: #FFF;
}

#galleryFooter .credit a {
    color: #369;
}

#galleryFooter .credit a:hover {
    color: #333;
}


/* -------------------------------------------------------------------------- */
/* -----| GALLERY LIST |----------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#galleryList {
    margin: 0 30px;
    padding: 0;
}

#galleryList li {
    display: inline-block;
    float: left;
    list-style: none;
    padding: 0;

    border: 1px solid rgba(0,0,0,.5);
}

#galleryList li a {
    display: block;
}

#galleryList li a:hover {

}

#galleryList li a img {
    border: none;
}

/* -------------------------------------------------------------------------- */
/* -----| GALLERY FOOTER |--------------------------------------------------- */
/* -------------------------------------------------------------------------- */

#galleryFooter {
    margin-top: 10px;
    padding: 3px;
}

#credit {
    float: right;
    font-size: .95em;
    margin: 4px 0;
}

#galleryFooter #credit a {
    color: #FFF;
}


/* ---------------------------------------- */
/* ----|  PAGINATION  |-------------------- */
/* ---------------------------------------- */

#galleryPagination {
    color: #FFF;
    float: left;
    font-size: .95em;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

#galleryPagination li {
    border: 1px solid transparent;
    display: block;
    float: left;
    list-style: none;
    margin-right: 1px;
}

#galleryPagination li:hover {
    background-color: #1E2D34;
    border-top: 1px solid #132228;
    border-left: 1px solid #132228;
    border-right: 1px solid #204656;
    border-bottom: 1px solid #204656;
}

#galleryPagination li.title {
    background: transparent url(../../page_white_stack.png) no-repeat left center;
    border: 1px solid transparent;
    font-weight: normal;
    padding: 3px 6px 3px 22px;
}

#galleryPagination li a, #galleryPagination li a:visited {
    color: #FFF;
    display: block;
    padding: 3px 6px;
    text-decoration: none;
}

#galleryPagination li.current {
    background-color: #15242A;
    border-top: 1px solid #132228;
    border-left: 1px solid #132228;
    border-right: 1px solid #204656;
    border-bottom: 1px solid #204656;
    font-weight: bold;
    padding: 3px 6px;
}

#galleryPagination li.inactive {
    background-color: transparent;
    color: #15242A;
    border: 1px solid transparent;
    display: block;
    padding: 3px 6px;
}


/* ---------------------------------------- */
/* ----|  SYSTEM MESSAGES  |--------------- */
/* ---------------------------------------- */

#systemMessages {
    margin: 0;
}

#systemMessages li {
    background-color: #FFF;
    line-height: 1.4em;
    list-style: none;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    text-shadow: none;
}

#systemMessages li.notice {
    background-color: #CCF;
}

#systemMessages li.success {
    background-color: #CFC;
}

#systemMessages li.error {
    background-color: #FCC;
}


/* ---------------------------------------- */
/* ----|  MISCELLANEOUS  |----------------- */
/* ---------------------------------------- */

.line {
    height: 1px;
    margin: 2em 0;
    overflow: hidden;
}

#galleryWrapper .line {
    margin: 10px 0;
}

#cboxWrapper {
    text-shadow: none !important;
}

#cboxCurrent {
    display: none !important;
}

#cboxTitle {
    font-size: 1em !important;
}
